@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
html,
#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3,
h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  caret-color: transparent;
  text-align: center;
}
p,
a {
  margin: 0;
  caret-color: transparent;
}
div {
  caret-color: transparent;
}

.react-icons {
  color: orangered;
  margin-right: 10px;
}
